@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.tag-badge {
	padding: 5px 0px;
	margin-right: 12px;
	border-radius: 6px;
	// background-color: $light-gray;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $disable-gray;
	.tag-badge-text {
		margin: 0 5px;
		display: inline-block;
	}
}
