@import "../../../styles/variables.scss";
.view-project-card-wrapper {
	background-color: white;
	position: relative;
	// width: 350px;
	height: 400px;
	flex-flow: column;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 50px 0 0 0;
	box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
		0px 30.1471px 24.1177px rgba(0, 0, 0, 0.0456112),
		0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
		0px 4.5288px 3.62304px rgba(0, 0, 0, 0.0243888);
	border-radius: 5px;
	.project-number {
		padding: 23px 0 10px 30px;
		color: $gray;
		align-self: flex-start;
		position: absolute;
		top: 0;
		left: 0;
	}
	.project-logo {
		width: 150px;
		height: 150px;
	}
	.view-project-button {
		width: 85%;
		background-color: $primary;
		color: white;
		padding: 12px 0;
		font-size: 18px;
		border: none;
		border-radius: 5px;
		transition: all 0.2s;
		&:hover {
			cursor: pointer;
			background-color: darken($primary, 10%);
			box-shadow: none;
		}
		&:focus {
			outline: none;
		}
		&:active {
			cursor: pointer;
			background-color: lighten($primary, 5%);
		}
	}
}
