@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

$logo-contianer-size: 250px;

.project-dashboard-wrapper {
	min-height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	display: flex;
	flex-flow: column;
	background-color: $dashboard-background-color;
	.dashboard-container {
		max-width: $container-max-width;
		padding: 15px;
		flex: 1;

		margin: 0 auto;

		@include mq("tablet") {
			display: grid;
			grid-template-columns: 6fr 1.2fr;
			grid-template-rows: auto;
			column-gap: 75px;
		}
		@include mq("tablet-wide") {
			display: grid;
			grid-template-columns: 6fr 2fr;
			grid-template-rows: auto;
			column-gap: 75px;
		}
		.dashboard {
			display: flex;
			flex-flow: column;
			flex: 1;
		}
		hr {
			width: 75%;
			margin: 20px auto 10px;
		}
		.project-details {
			flex: 1;
		}
		.inspiration-container {
			width: 100%;
			.inspiration-card-container {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
			}
			.inspiration-container-header {
				.see-more-inspirations {
					color: $blue;
					font-size: 14px;
					margin-left: 10px;
					transition: 0.2s all;
					text-decoration: none;
					&:hover {
						color: darken($blue, 25%);
						cursor: pointer;
					}
				}
			}
		}
	}
}
