@import "../../../styles/variables.scss";

.home-page_top-bar-wrapper {
	width: 100%;
	height: $top-bar-height;
	z-index: 99;
	position: absolute;
	.container {
		height: 100%;
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: center;
		max-width: $container-max-width;
		margin: 0 auto;
		.logo-wrapper {
			height: 100%;
			width: 125px;
			position: relative;
			padding-left: $side-padding;
		}
		.social-wrapper {
			padding-right: $side-padding;
			display: flex;
			justify-content: center;
			align-items: center;
			.social-links {
				margin: 0 7px;
				display: flex;
				justify-content: center;
				align-items: center;
				svg {
					&:hover {
						color: blue !important;
					}
				}
			}
			.cta {
				margin-left: 45px;
				color: white;
				text-decoration: none;
				font-size: 20px;
			}
		}
	}
}
