@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

// ===== ===== LEFT ALIGNED DOT ===== =====
// .color-chip {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	font-size: 14px;
// 	font-weight: bold;
// 	padding: 5px 10px;
// 	.dot {
// 		width: 20px;
// 		height: 20px;
// 		border-radius: 50%;
// 		margin: 0 5px 0 0;
// 	}
// }
// ===== ===== ===== ===== ===== =====

// ===== ===== FULL WIDTH BLOCK ABOVE ===== =====
// .color-chip {
// 	display: flex;
// 	flex-flow: column;
// 	justify-content: center;
// 	align-items: center;
// 	@include mq("tablet") {
// 		padding: 0px 20px 0 0;
// 	}
// 	.block {
// 		width: 100%;
// 		height: 10px;
// 	}
// 	.hex-text {
// 		font-size: 14px;
// 		font-weight: bold;
// 		padding: 0 10px;
// 		margin: 0;
// 	}
// }
// ===== ===== ===== ===== ===== =====

$border-rad: 4px;
$chip-height: 30px;
.color-chip {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	height: $chip-height;
	background-color: $dashboard-background-color;
	position: relative;
	z-index: 5;
	margin: 0;
	box-sizing: border-box;

	@include mq("tablet") {
		margin: 0px 10px 0 0;
	}
	@include mq("tablet-wide") {
		margin: 0px 20px 0 0;
	}
	.click-to-copy {
		position: absolute;
		width: 100%;
		height: 100%;
		&:hover {
			.color-chip-copy-message {
				top: $chip-height * -1;
			}
		}
		.click-to-copy-button {
			position: absolute;
			width: 100%;
			height: 100%;
			button {
				width: 100%;
				height: 100%;
				background-color: transparent;
				border: none;
				&:hover {
					cursor: pointer;
				}
			}
			.color-chip-slider-animation {
				position: absolute;
				border-radius: $border-rad;
				top: 0;
				left: 0;
				width: 0px;
				pointer-events: none;
				height: 100%;
				transition: all 0.2s;
				&:after {
					content: "";
					color: white;
					opacity: 0;
					width: 0%;
					height: 100%;
					line-height: $chip-height;
					position: absolute;
					text-align: center;
					border-radius: $border-rad;
				}
			}

			&:hover {
				.color-chip-slider-animation {
					cursor: pointer;
					width: 100%;
					&:after {
						opacity: 1;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
		.color-chip-copy-message {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			font-size: 12px;
			margin: 0;
			line-height: $chip-height;
			text-align: center;
			transition: 0.2s all;
			color: $disable-gray;
			pointer-events: none;
		}
	}
	.block {
		width: 20px;
		height: 100%;
		border-radius: $border-rad 0 0 $border-rad;
	}
	.hex-text {
		background-color: $dashboard-background-color;
		border: 1px solid $disable-light-gray;
		border-radius: 0 $border-rad $border-rad 0;
		height: 100%;
		line-height: $chip-height;
		font-size: 14px;
		font-weight: bold;
		padding: 0 10px;
		margin: 0;
		overflow: hidden;
		resize: none;
		text-transform: uppercase;
		width: 80px;
	}
}
