@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
@import "../../styles/global.scss";

.projects-timeline-wrapper {
	display: none;
}
@include mq("tablet") {
	.projects-timeline-wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		.timeline-project {
			text-align: left;
			position: relative;
			margin: 30px 0;
			//Blue line connecting dots
			&:not(:first-child):after {
				content: "";
				display: block;
				position: absolute;
				width: 2px;
				height: 150%;
				top: -10px;
				transform: translate(0, -50%);
				left: -25px;
				z-index: 2;
				background-color: $primary;
			}
			//Blue dots
			&:before {
				content: "";
				display: block;
				position: absolute;
				width: 15px;
				height: 15px;
				top: 50%;
				transform: translate(0, -50%);
				left: -35px;
				background-color: $primary;
				border-radius: 50%;
				border: 4px solid #f2f2f2;
				z-index: 3;
			}
			.timeline-project-link {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
					text-decoration-color: black;
				}
				.timeline-project-id {
					color: $gray;
					margin: 0;
					text-transform: uppercase;
					margin: 0;
					font-size: 0.75em;
				}
				.timeline-project-name {
					margin: 0;
					color: black;
					font-weight: 400;
					font-size: 18px;
				}
			}
			.active h3,
			.active p {
				color: $primary !important;
			}
		}
	}
}
